@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 0;
  font-family: 'Montserrat', popins;
  background-color: #1a1a1c;
  color: #fff;
  
}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: #fff;
}

.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.coin-text {
  margin-bottom: 50px;
  text-align: center;
  font-size: 88px;
  font-family: popins;
  font-weight: 400;
  
  color: #e2e2e2;
  
}

.coin-input {
  padding-left: 16px;
  font-size: 20px;

  width: 420px;
  height: 50px;
  border-radius: 40px;
  border: none;
  margin-left: 55px;
  background-image: linear-gradient(to top, #1a2a43, #304257, #495b6c, #657580, #849096);

  color: #e2e2e2;
  outline: none;
}

.coin-input::placeholder {
  color: #e2e2e2;
}